*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Customize the topleft logo*/
.logo   {
    color: #4E4D59;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 2rem;
}

/*Navbar customize for all pages*/
/*Customize the navbar*/
nav {
    height: 80px;
    background: #BF8580;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px)/2);
}
/*Give navbar mouse over effect*/
.navbar {
    overflow: hidden;
}
nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #F2DCD8;
    color: black;
}
.navbar a.active    {
    background-color: #F2DCD8;
    color: black;
}

/*Background colour for all the pages*/
.Home-bg   {
    background-image: url("../Resources/Background.png");
    background-color: #F2A9A2;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
.Contact-bg {
    background-color: #F2A9A2;
}
.Aboutme-bg {
    background-color: #F2A9A2;
}
.Project-bg {
    background-color: #F2A9A2;
}

/*Customize the section container*/
.container  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw-1300px)/2);
}

.LeftColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color:black;
    padding: 0rem 2rem;
}

.LeftColumn h1  {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.LeftColumn p   {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

.videosize  {
    overflow: 0;
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.videosize video    {
    width: auto;
    height: auto;
}

.contact-page   {
    width:auto;
    max-width: 20rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}